[submodule "bng2/Network3/nfsim_src"]
	path = bng2/nfsim_src
	url = https://github.com/ruleworld/nfsim.git
[submodule "bng2/Network3/atomizer"]
	path = bng2/atomizer
	url = https://github.com/ruleworld/atomizer
