bng2/Perl2/Visualization/temp/patt.gml
*.gml
*.swp
*~
tags
bng2/Network3/muparser_v2_2_4
bng2/Network3/lib
bng2/Network3/include
bng2/Network3/cvode-2.6.0
bng2/Network3/bin
bng2/Network3/Makefile
bng2/src/util/*.o
bng2/Network3/src/util/mathutils/*.o
bng2/bin
bng2/Validate/nfkb_illustrating_protocols.net
bng2/Validate/test_ANG_parscan_synthesis_simple_dummy/test_ANG_parscan_synthesis_simple_dummy_00001.net
bng2/Validate/test_ANG_parscan_synthesis_simple_dummy/test_ANG_parscan_synthesis_simple_dummy_00002.net
bng2/Validate/test_write_sbml_multi_sbml_sbmlmulti.xml
*.log
*.scan
*.cdat
*.gdat
*.net
bng2/Models2/.ipynb_checkpoints/parameter_scan_with_protocol-checkpoint.ipynb
bng2/Models2/parameter_scan_with_protocol.ipynb
bng2/Models2/parameter_scan_with_protocol.ipynb
bng2/Validate/test_ANG_parscan_synthesis_simple_dummy/test_ANG_parscan_synthesis_simple_dummy_00001.net
bng2/Validate/test_ANG_parscan_synthesis_simple_dummy/test_ANG_parscan_synthesis_simple_dummy_00002.net
bng2/Validate/test_ANG_parscan_synthesis_simple_dummy/test_ANG_parscan_synthesis_simple_dummy_00001.net
bng2/BioNetGen-*/
bng2/BioNetGen-*.tgz

# temporary
tfun_test