<!-- Slideshow container -->
<div class="i-slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="i-mySlides iswfade">
      <div class="iswnumbertext">1 / 3</div>
      <img src="assets/editor_window.PNG" style="width:100%" alt="Editor window">
      <div class="iswtext">Easily construct models with snippets and completion</div>
    </div>
  
    <div class="mySlides fade">
      <div class="iswnumbertext">2 / 3</div>
      <img src="assets/sample_plot.PNG" style="width:100%" alt="Simulation plotting">
      <div class="iswtext">Run a simulation and plot the results with a single click</div>
    </div>
  
    <div class="mySlides fade">
      <div class="iswnumbertext_dark">3 / 3</div>
      <img src="assets/contact_map.PNG" style="width:100%" alt="Network visualization">
      <div class="iswtext_dark">Browse multiple diagrams of a model and rule structure with the yEd graph editor</div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="iswprev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="iswnext" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="iswdot" onclick="currentSlide(1)"></span>
    <span class="iswdot" onclick="currentSlide(2)"></span>
    <span class="iswdot" onclick="currentSlide(3)"></span>
  </div>
</div>  

<style>
* {box-sizing:border-box}

/* Slideshow container */
.i-slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Hide the images by default */
.i-mySlides {
display: none;
}

/* Next & previous buttons */
.iswprev, .iswnext {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.iswnext {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.iswprev:hover, .iswnext:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.iswtext {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Caption text - dark */
.iswtext_dark {
color: #000;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.iswnumbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* Number text - dark */
.iswnumbertext_dark {
color: #000;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.iswdot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.iswactive, .iswdot:hover {
background-color: #717171;
}

/* Fading animation */
.iswfade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
</style>

<script>
let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("i-mySlides");
  let dots = document.getElementsByClassName("iswdot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" iswactive", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " iswactive";
}
</script>