<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% autoescape true %}
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Scoreboard 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130602

-->
<html xmlns="http://www.w3.org/1999/xhtml">
{% include "pages/headTag.html" %}<body>
<div id="wrapper">
{% include "/pages/header.html" %}
	<div id="page" class="container">
		<div id="content">
			<div class="title">
				<h2>Submit an annotated model</h2>
			</div>
		  <form action="{{ action }}" method="post" enctype="multipart/form-data">
      <div><input type="checkbox" name="privacy" value="privacy">Private model </div>
      Upload Zip file: <input type="file" name="file"><br> 
      
      <input type="submit" value="Submit">
    </form>

		</div>
	{% include "/pages/submitSidebar.html" %}	
	</div>
</div>
{% include "/pages/footer.html" %}
</body>
</html>
{% endautoescape %}
