<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% autoescape true %}
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Scoreboard 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130602

-->
<html xmlns="http://www.w3.org/1999/xhtml">
{% include "header.html" %}
<body>
<div id="wrapper">
	<div id="header-wrapper">
		{% include "menu.html" %}
		<!-- end #menu -->
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Ruleworld</a></h1>
				<p>A rule based modeling database</p>
			</div>
			<div id="banner"> <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a> </div>
		</div>
	</div>
	<div id="page" class="container">
		<div id="content">
			<div class="title">
				<h2>Query</h2>
			</div>
		    <form action="/search?{{ model_name }}" method="post">
    Query Database: <br>
      <div>Search by:<select name=searchSelection>
        {% for option in queryOptions %}
	  	<option>{{ option }}</option>
  	{% endfor %}
      </select></div>
      <div>QueryString: <input name="queryString"> </div>
      <input type="submit" value="Submit">
      
    </form>

		</div>
		<div id="sidebar">
			<div class="box1">
				<div class="title">
					<h2>Mauris vulputate</h2>
				</div>
				<ul class="style2">
					<li><a href="#">Semper mod quis eget mi dolore</a></li>
					<li><a href="#">Quam turpis feugiat sit dolor</a></li>
					<li><a href="#">Amet ornare in hendrerit in lectus</a></li>
					<li><a href="#">Consequat etiam lorem phasellus</a></li>
					<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
					<li><a href="#">Semper mod quisturpis nisi</a></li>
				</ul>
			</div>
			<div class="box2">
				<div class="title">
					<h2>Integer gravida</h2>
				</div>
				<ul class="style2">
					<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
					<li><a href="#">Ornare in hendrerit in lectus</a></li>
					<li><a href="#">Semper mod quis eget mi dolore</a></li>
					<li><a href="#">Quam turpis feugiat sit dolor</a></li>
					<li><a href="#">Amet ornare in hendrerit in lectus</a></li>
					<li><a href="#">Consequat etiam lorem phasellus</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% include "lowerBar.html" %}
</body>
</html>
{% endautoescape %}
