<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% autoescape true %}
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Scoreboard 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130602

-->
<html xmlns="http://www.w3.org/1999/xhtml">
{% include "header.html" %}
<body>
<div id="wrapper">
	<div id="header-wrapper">
		{% include "menu.html" %}
		<!-- end #menu -->
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Ruleworld</a></h1>
				<p>A rule based modeling database</p>
			</div>
			<div id="banner"> <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a> </div>
		</div>
	</div>
	<div id="page" class="container">
		<div id="content">
			<div class="title">
				<h2>Submit a new model</h2>
			</div>
		{% include type %}
		</div>
		<div id="sidebar">
			<div class="box1">
				<div class="title">
					<h2>Submission options</h2>
				</div>
				<ul class="style2">
					<li ><a href="/submit?type=form">Simple submission</a></li>
					<li><a href="/submit?type=file">Submit annotated file(s)</a></li>
					<li><a href="/submit?type=archive">Submit archive</a></li>

				</ul>
			</div>
		</div>
	</div>
</div>
{% include "lowerBar.html" %}
</body>
</html>
{% endautoescape %}
